body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #FCF9F1;
}

.banner {
    height: 175px;
    background-color: #5998C5;
}

.profile-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 30px;
    margin-right: 40px;
    padding-right: 100px;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #1C3144;
    margin-left: 105px;
    margin-top: -100px;
}

.profile-text {
    margin-top: 75px;
    max-width: 260px;
    margin-left: -160px;
}

.profile-text h1 {
    margin: 0;
    font-weight: bold;
}

.profile-text p {
    margin: 5px 0;
}

.profile-text strong {
    color: #1C3144;
}

.rectangles {
    margin-top: 55px;
    margin-left: 150px;
}

.rectangles h2 {
    margin: 0;
    font-weight: bold;
    padding-top: 20px;
}

.rectangle {
    border: 2px solid #1C3144;
    padding: 10px;
    margin-top: 10px;
    width: 600px;
    border-radius: 20px;
}

.rectangle p {
    margin: 5px 0;
}

.interests, .hobbies, .looking-for, .located {
    color: #5998C5;
}
